}
.s-top-right .ai-entry-right-nologin{position:absolute;top:18px;right:170px}
.s-top-userset-menu{display:none;width:84px;padding:8px 0;top:48px;position:absolute;right:10px;float:right;z-index:999;text-align:left}
.s-top-userset-menu a{display:block;margin:3px 16px 3px 16px;color:#333}
.s-top-userset-menu a:hover{color:#315efb;text-decoration:none}
.s-top-userset-menu .split-line{display:block;margin:8px 16px;background:#d7d9e0;height:1px}
.s-top-userset-menu .s-msg-count{display:none;margin-left:4px}
.s-top-userset-menu .hide-feed{display:inline-block}
.s-top-userset-menu .show-feed{display:none}
